<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Warren Falk"
            class="warrenfalk.eclipse.preferences.WarrenFalkMainPrefsPage"
            id="warrenfalk.eclipse.preferences.MainPreferencesPage">
      </page>
      <page
            category="warrenfalk.eclipse.preferences.MainPreferencesPage"
            class="warrenfalk.eclipse.preferences.ComparePage"
            id="warrenfalk.eclipse.preferences.ComparePage"
            name="Compare">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="warrenfalk.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
